.myGreen {
    margin-left: 51%;
    margin-right: 50%;
    width: 8%;
    height: 100px;
    margin-top: 23em;
    background: green;
    border-radius: 3em;
    z-index: 1;
    position: absolute;
}