
.myRed {
    width: 8%;
    height: 100px;
    margin-top: 6em;
    background: red;
    border-radius: 3em;
    position: absolute;
}
.myYellow {
    width: 8%;
    height: 100px;
    margin-top: 14.5em;
    background: yellow;
    border-radius: 3em;
    position: absolute;
}
.myGreen {
    width: 8%;
    height: 100px;
    margin-top: 23em;
    background: green;
    border-radius: 3em;
    position: absolute;
}

.myContainer {
    margin-left: 50%;
    margin-right: 50%;
    width: 7em;
    height: 22em;
    margin-top: 5em;
    background: black;
    border-radius: 2em;
    padding: 0.5em;

}