.myContainer {
    margin-left: 50%;
    margin-right: 50%;
    width: 95px;
    height: 385px;
    margin-top: 5em;
    background: black;
    border-radius: 2em;
    z-index: 0;
    position: absolute;
}